.header {
  position: relative;
  width: 100vw;
  height: 97px;
  background-color: #1ea1f7;
  padding: 53px calc((100% - 1000px) / 2) 12px;
  min-width: 1000px;
  display: flex;
  justify-content: right;
}

.input-group {
  width: 260px;
  height: 32px;
}

.form-control {
  border-radius: 2px;
  font-size: 12px;
}

.btn {
  border-radius: 2px;
  border: none;
  background-color: #fff;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 700;
  color: #1ea1f7;
}
